@import url("rest.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
@import url("ham.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url("footer.css");
html{
    font-size: 62.5%;
}
/* -----------all------------- */
body{
    font-size: 2rem;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif, "Raleway";

}

a{
    text-decoration: none;
    color: black;
    display: block;
}



.wrapper{
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
}



/* ---hover--- */
a:hover{

    color: #4fab66;
}

button, input:hover{
    cursor: pointer;
}


/* ---------header--------- */
header{
    /* border: 1px solid black; */
    width: 1200px;
    /* height: 120px; */
    margin: 0 auto;
    /* display: flex; */
    /* align-items: center;
    justify-content: space-between; */
    /* background-image: url(../img/bg/bgfff.jpg); */
    position: relative;
    display: block;
    padding: 15px 0 ;
}

/* ----------功能列----------- */
.nav_top{
    /* border: 1px solid blue; */
    margin-left: auto;
    line-height: 24px;
    

    position: absolute;
    right: 18px;
    top: 0;

}

.nav_top ul{
    display: flex;
    justify-content: end;
    align-items: center;


}

.nav_top li{
    margin-right: 20px;
}

.nav_top a{
    font-size: 1.8rem;
}

.nav_top img{
    /* width: 100%; */

}


/* ---------主選單------------ */
.nav_content{
    width: 1200px;
    /* border: 1px solid purple; */
    display: flex;
    /* margin: 0 auto; */
    justify-content: space-between;
    align-items: center;


}

.nav_content h1 img{
    margin-left: 30px;
    width: 100%;
} 



.nav_main{
    /* border: 1px solid green; */
    margin-right: 30px;
    display: block;

}

.nav_main ul{
    display: flex;
    position: relative;

   
}

.nav_main li{
    /* border: 1px solid #ccc; */
    margin-right: 40px;


}

.nav_main li:last-child{
    margin-right: 0;
}

.nav_main a{

}

.nav_main span{
    font-size: 3rem;
}

/* ==========漢堡=========== */
.hamburger{

    display: none;

}



/* ----------子選單---------- */
.nav_main .nav_menu{

    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    right: 290px;
    top: 36px;

    flex-direction: column;

    display: none;
    z-index: 1;

}

.nav_main .nav_menu li{

    border: 1px solid #ccc;
    line-height: 55px;
    text-align: center;
    margin-right: 0;
    width: 120px;


}

.nav_main .nav_menu a{
    color: #4fab66;
}


/* ------------hover------------- */

/* .nav_main  li  a:hover .b_line{
    display: block;
}

.nav_top  a:hover .b_line{
    display: block; 
}
*/
 li:hover .nav_menu{
    display: block;

}


.nav_menu li:hover{
    background-color: #4fab66;

}

.nav_menu li a:hover{
    color: #fff;
}


/* 底線 */
/* 
.nav_top .b_line{
    display: block;
    border-bottom: 3px solid #4fab66;

    display: none;

}

.nav_main .b_line{
    display: block;
    border-bottom: 3px solid #4fab66;

    display: none;

}

/* 底線hover */

/* .nav_top .b_line:  */

/* ------------------1200-------------------- */
@media screen and (max-width:1200px) {

    .wrapper{
        width: 100%;
      }

      header{
        width: auto;
        height: auto;
    }

    /* 功能列 */

    .nav_top ul{
        width: auto;
    }


    /* 主選單 */
    .nav_content{
        width: 100%;
    }

    .nav_content h1 img{
        width: 90%;
    }

    /* 上方主標題的字 */

    
    .nav_main .nav_menu li{
        width: auto;
        padding: 0 20px;
    }


}

/* --------------------955----------------------- */
@media screen and (min-width:955px){
    .nav_main{
        display: block  !important;
    }
}

/* --------------------954.98----------------------- */
@media screen and (max-width:954.98px){
    .hamburger{
        display: block;
    }

    header{
        width: auto;
        height: auto;
        /* flex-direction: column;  */
        /* justify-content: flex-start;  */
        display: block;
        padding: 10px 0;


    }

    /* 功能列 */
    .nav_top{
        position: static;
    }

    .nav_top ul{
        width: auto;
        display: flex;
        /* flex-direction: column; */
        justify-content: flex-end;
        
        /* border: 1px solid red;  */
    }


    /* 主選單 */




    .nav_main{
        /* border: 1px solid green; */

        display: block;
        position: absolute;
        right: -30px;
        top: 120px;

        background-color: rgba(255,255,255,.8);
        display: none;
    }


    .nav_main ul{
        flex-direction: column;
        justify-content: start;
        z-index: 1;
        background-color: rgba(255,255,255,.8);

    }

    .nav_main li{
        margin-right: 0;
    }

    .nav_main li a{
        padding: 20px;
        /* margin-bottom: 15px; */
        border: 1px solid #ccc;
    }

    
    /* ----------子選單---------- */
    .nav_main .nav_menu{
        display: none;

    }

    .nav_menu li:hover{
        pointer-events: none;
    }


    
}


/* -------------------575.98------------------------ */
@media screen and (max-width:575.98px) {

    .wrapper{
      width: 100%;
    }

    header{
        width: auto;
        height: auto;
        /* background-color: #4fab66; */
        flex-direction: column; 
        justify-content: flex-start; 
        display: block;
        padding: 5px 0;
        
    }

    /* 功能列 */
    .nav_top{
        position: static;

    }

    .nav_top ul{
        width: auto;
        /* flex-direction: column; */
        justify-content: flex-end;
        /* border: 1px solid red; */
    }

    .nav_top li{
        margin-right: 10px;
    }

    .nav_top a{
        font-size: 1rem;
    }

    .nav_top img{
        width: 20%;
    }



    /* 主選單 */
    .nav_content{
        width: auto;
        /* border: 1px solid blue; */
        /* justify-content: flex-start; */

        position: relative;

    }
    .nav_content h1 img{
        width: 50%;
        margin-left: 10px;
    }

    .nav_main{
        /* border: 1px solid green; */

        position: absolute;
        right: -32px;
        top: 55px;
    }

    .nav_main ul{
        flex-direction: column;
        justify-content: start;

    }
    .nav_main li{
        /* margin-left: 10px; */

    }

    /* ----------子選單---------- */
    .nav_main .nav_menu{
        display: none;

    }

    .nav_menu li:hover{
        display: none;
    }

    /* 上方主標題的字 */
    .nav_main span{
        font-size: 2rem;

        
    }


    .nav_main .nav_menu li{
        width: 100%;
    }

    li:hover .nav_menu{
        display: none;
    }
}

/* RWD 428*/
@media screen and (max-width:428px) {
    .wrapper{
      width: 100%;
    }
    

    header{
        width: auto;
        height: auto;
        /* background-color: #4fab66; */
        flex-direction: column; 
        justify-content: flex-start; 
        display: block;
        
    }

    /* 功能列 */
    .nav_top{
        position: static;

    }

    .nav_top ul{
        width: auto;
        /* flex-direction: column; */
        justify-content: flex-end;
        /* border: 1px solid red; */
    }

    .nav_top li{
        margin-right: 10px;
    }

    .nav_top a{
        font-size: 1rem;
    }

    .nav_top img{
        width: 20%;
    }



    /* 主選單 */
    .nav_content{
        width: auto;
        /* border: 1px solid blue; */
        /* justify-content: flex-start; */

        position: relative;

    }
    .nav_content h1 img{
        width: 50%;
        margin-left: 10px;
    }

    .nav_main{
        /* border: 1px solid green; */

        position: absolute;
        right: -32px;
        top: 56px;
    }

    .nav_main ul{
        flex-direction: column;
        justify-content: start;

    }
    .nav_main li{
        /* margin-left: 10px; */

    }
    /* 上方主標題的字 */
    .nav_main span{
        font-size: 2rem;

        
    }


    .nav_main .nav_menu li{
        width: 100%;
    }


    li:hover .nav_menu{
        display: none;
    }

}

/* RWD 390 */
@media screen and (max-width:390px) {
    .wrapper{
        width: 100%;
    }

} 