@import url("header.css");
@import url("footer.css");

body{

}

.breadcrumbs a{
    display: inline-block;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;

}

h2{
    font-size: 4.8rem;
    color: #B54F4F;

    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 40px;

}

.breadcrumbs{
    margin-left: 30px;

}

/* -------main--------- */

.login_main{
    border: 1px solid red;
    width: 400px;
    margin: 100px auto;
    text-align: center;

}


.login_main label{
    font-size: 2.5rem;

}

.login_main input{
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 2.5rem;

}

.login_main .btn{
    display: block;
    width: 100px;
    line-height: 35px;
    text-align: center;
    /* border: 1px solid blue; */
    margin: 20px auto;
    background-color: brown;
    border: 0;
    color: #fff;
    

} 


.login_main p{
    font-size: 1.8rem;
    text-align: center;
}

.login_main a{
    display: inline-block;
    color: #4fab66;

}



/* ----------------------575.98------------------- */
@media screen and (max-width:575.98px){
    .wrapper{
        width: auto;
    }

    h2{
        margin-left: 10px;
        font-size: 1.8rem;
        padding-top: 15px;
        margin-bottom: 15px;
        margin-top: 0;

    }

    .breadcrumbs{
        margin-left: 10px;
        font-size: 1.2rem;
    }

    .login_main{
        text-align: center;
        width: auto;
        margin: 50px auto;

    }

    .login_main label{
        font-size: 1.5rem;
    }

    .login_main input{
        font-size: 1.2rem;
    }

    .login_main .btn{
        width: 50px;
        line-height: 2;
        margin: 0 auto;
    }

    .login_main p{
        font-size: 1.2rem;
        margin-top: 15px;
    }
}