@import url("header.css");
@import url("footer.css");

body{


}

.breadcrumbs a{
    display: inline-block;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;

}

h2 span{
    display: none;
}

h2 img{
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 40px;
    max-width: 100%;

}

.breadcrumbs{
    margin-left: 30px;
    
}

.new_main{
    display: block;
    margin-top: 100px;
}

.new_main > article {
    display: flex;

    /* border: 1px solid peru; */
    margin-bottom: 100px;

}

.new1{

}

.new_main img{
    /* border:  1px solid blue; */
    margin-left: 35px;
    width: 100%;

}

.new_text{
    /* border: 1px solid red; */
    margin-left: 35px;
    padding: 0 35px;
    padding-top: 30px;

} 

.new_text h3{
    font-size: 3.6rem;
    font-weight: bold;
    color: #B54F4F;
    margin-bottom: 20px;

} 

.new_text time{
    font-size: 2.8rem;
    color: #e29191;

} 

.new_text p{
    margin-left: 0;
    padding-top: 50px;
    line-height: 30px;
    
} 

.new2{
    flex-direction: row-reverse;
}

/* gotop */
.gotop{
    display: block;
    font-size: 5.5rem;
    color: rgb(21, 65, 177);
    position: fixed;
    right: 30px;
	bottom: 190px;

}

.gotop:hover{
    color: #671b6a;
}


/* ------------------575.98------------------- */
@media screen and (max-width:575.98px){
    .wrapper{
        width: auto;
    }

    h2 img{
        display: none;
    }

    h2 span{
        display: block;
        margin-left: 10px;
        font-size: 1.8rem;
        padding-top: 15px;
        margin-bottom: 15px;
    }

    .breadcrumbs{
        margin-left: 10px;
        font-size: 1.2rem;
    }


    /* 主要區塊 */

    .new_main{
        margin-top: 15px;
    }

    .new_main > article{
        display: block;
        margin-bottom: 15px;
    }




    .new_main img{
        max-width: -webkit-fill-available;
        margin: 0 10px;
    }

    .new_text{
        margin: 0 10px;
        /* padding: 0 10px;
        padding-top: 15px; */
        padding: 10px 10px 0 10px;

    }

    .new_text h3{
        font-size: 2.8rem;
        margin-bottom: 5px;

    }

    .new_text time{
        font-size: 1.5rem;
    }

    .new_text p{
        font-size: 1.5rem;
        padding-top: 15px;
        line-height: 20px;
    }
}