@import url("header.css");
@import url("footer.css");


body{

}

.breadcrumbs a{
    display: inline-block;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;

}

h2{
    font-size: 4.8rem;
    color: #B54F4F;

    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 40px;

}

.breadcrumbs{
    margin-left: 30px;

}


/* ---------內容----------- */

.register_main{
    /* border: 1px solid purple; */
    width: 900px;
    margin: 100px auto;
    text-align: center;

}

.register_main p{
    /* border: 1px solid; */
    font-size: 2.5rem;
    
}

.register_main .line{
    display: block;
	width: 500px;
	height: 3px;
	background-color: #4fab66;
	margin: 0 auto;
    margin-top: 10px;

    
}

.register_main li{
    /* border: 1px solid blue; */
    margin-bottom: 20px;

    
}

.register_main li input{
    outline: 0;
    font-size: 2.2rem;
}



/* ----第二段---- */
.register_main li:nth-child(5){
    margin-top: 50px;
    
}

.register_main li:nth-child(6){
    padding-left: 80px;
}

.gender{
    font-size: 1rem;
}

.gender input{
    width: 12px;
}

.register_main li:nth-child(6) > span{
    font-size: 1rem;
        
}

.register_main .agree{
    font-size: 1.6rem;
}

.register_main li:nth-child(9){
    padding-top: 50px;        
}

.register_main li:last-child{
    /* padding-top: 50px;         */
}

.register_main li:last-child > .send{
    /* padding-top: 50px;         */

    background-color: brown;
    color: #fff;
    border: 0;
    width: 100px;
    line-height: 35px;
    
}


/* ----------------------575.98------------------- */
@media screen and (max-width:575.98px){

    .wrapper{
        width: auto;
    }

    h2{
        margin-left: 10px;
        font-size: 1.8rem;
        padding-top: 15px;
        margin-bottom: 15px;
        margin-top: 0;

    }

    .breadcrumbs{
        margin-left: 10px;
        font-size: 1.2rem;
    }






    .register_main{
        width: auto;
        margin: 50px auto;
    }

    .register_main p{
        font-size: 1.5rem;
    }

    .register_main .line{
        width: 200px;
        height: 2px;
    }

    .register_main li{
        margin-bottom: 10px;
    }

    .register_main li:nth-child(5){
        margin-top: 30px;

    }



    .register_main li input{
        font-size: 1.2rem;
    }

    .register_main li:nth-child(6){
        padding-left: 70px;
    }
    

    .gender input{
        width: 8px;
    }    


    .register_main .agree{
        font-size: 1rem;
    }

    .register_main li:nth-child(9){
        padding-top: 15px;
    }

    .register_main li:last-child > .send{
        width: 50px;
        line-height: 12px;
    }

}