@import url("header.css");
@import url("footer.css");


body{

}

.breadcrumbs a{
    display: inline-block;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;

}

h2{
    font-size: 48px;
    color: #B54F4F;

    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 40px;

}

.breadcrumbs{
    margin-left: 30px;

}


/* ---------內容----------- */

.register_main{
    /* border: 1px solid purple; */
    width: 900px;
    margin: 100px auto;
    text-align: center;

}

.register_main p{
    /* border: 1px solid; */
    font-size: 25px;
    
}

.register_main .line{
    display: block;
	width: 500px;
	height: 3px;
	background-color: #4fab66;
	margin: 0 auto;
    margin-top: 10px;

    
}

.register_main li{
    /* border: 1px solid blue; */
    margin-bottom: 20px;

    
}

.register_main li input{
    outline: 0;
    font-size: 22px;
}



/* ----第二段---- */
.register_main li:nth-child(5){
    margin-top: 50px;
    
}

.register_main li:nth-child(6){
    padding-left: 90px;
}

.register_main li:nth-child(6) > span{
    font-size: 10px;
        
}

.register_main .agree{
    font-size: 16px;
}

.register_main li:nth-child(9){
    padding-top: 50px;        
}

.register_main li:last-child{
    /* padding-top: 50px;         */
}

.register_main li:last-child > .send{
    /* padding-top: 50px;         */

    background-color: brown;
    color: #fff;
    border: 0;
    width: 100px;
    line-height: 35px;
    
}